.u-section-1 .u-sheet-1 {
  min-height: 543px;
}

.u-section-1 .u-text-1 {
  margin: 24px auto 0;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-text-2 {
  margin: -330px 307px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 233px 307px 60px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0%;
  height: 462%;
  top: -181%;
}

@media (max-width: 1199px) {
  .u-section-1 .embed-responsive-1 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 235px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 176px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -333px;
    margin-right: 108px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 312px;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 261%;
    left: -81%;
    height: 100%;
    top: 0%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 485px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 110px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  text-transform: none;
  margin: 0 auto;
}

.u-section-2 .u-accordion-1 {
  width: 1140px;
  margin: 23px 0 60px;
}

.u-section-2 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 338px;
  }

  .u-section-2 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-accordion-1 {
    width: 340px;
  }
}